# swap files
*.swp

# m4 cache
*.cache

# hdt
*.hdt.index
*.hdt.index.v1-1

# C++ Configure and Make
Makefile
Makefile.in
aclocal.m4
ar-lib
compile
config.guess
config.h.in
config.h
config.log
config.status
configure
depcomp
install-sh
ltmain.sh
m4
missing
libtool
*/*/.deps
*/*/.libs
*/*/*.lo
*/*/*.o
*/*/*.la
*/*/*.so
stamp-h1

# Python builds
*~
*.pyc
*.py[cod]

*.egg-info
*.eggs
*.egg
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
