# swap files
*.swp

# m4 cache
*.cache

# C++ Configure and Make
Makefile
config.h
config.log
config.status
libtool
*/*/.deps
*/*/.libs
*/*/*.lo
*/*/*.o
*/*/*.la
*/*/*.so
stamp-h1

# Python builds
build
*.egg-info
